.container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#deloisa {
	width: 25vw;
}

body {
	background-color: #333D51;
	animation: bgColor 10s infinite;
	font-family: 'Adamina', serif;
	color: #D3AC2B;
	text-align: center;
}

@keyframes bgColor {
	11.1% {
		background-color: #333D51;
	}
	22.2% {
		background-color: #333D51;
	}
	33.3% {
		background-color: #333D51;
	}
	44.4% {
		background-color: #F4F3EA;
	}
	55.5% {
		background-color: #F4F3EA;
	}
	66.6% {
		background-color: #F4F3EA;
	}
	77.7% {
		background-color: #006d88;
	}
	88.8% {
		background-color: #006d88;
	}
	100% {
		background-color: #006d88;
	}
}